# Final Project - Data Science Tools and Ecosystem

## Introduction
This notebook provides an overview of Data Science languages, libraries, and tools.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

## Data Science Tools
| Tool | Description |
|------|------------|
| Jupyter Notebook | Interactive coding |
| RStudio | IDE for R |
| Apache Spark | Big data processing |

## Arithmetic Expression Examples
Here is an example of an arithmetic expression: `3 + 5 * 2`

In [ ]:
result = (3 + 5) * 2
print(result)

In [ ]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(hours)

## Objectives
- Learn about data science languages
- Understand different libraries
- Explore data science tools

## Author
Thien An